/* You can add global styles to this file, and also import other style files */
body{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}
.column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.lest-side{
  width: 70%;
}


.light{
  color: grey;
  font-weight: lighter;
  margin: 5px;
}

.center{
  align-items: center;
}
