<div class="row">
  <div class="column lest-side">
    <h2 class="mr-20-30"><span class="thin">Weather</span> Forecast</h2>

    <div class="scrollable row">
      <div class="card" *ngFor="let trip of tripList" (click)="onSelectedTrip(trip)">
          <app-card [trip]="trip"></app-card>
      </div>
      <div class="card center" (click)="showPopup = true">
        <img class='square-icon' scr='../../' alt="plus"/>
        <h2 class='add-but-name'>Add Trip</h2>
      </div>
      <app-add-trip *ngIf="showPopup"
                      (objectCreated)="onObjectCreated($event)"
                      (cancel)="showPopup = false"
                       [tripListLength]="tripList.length" [cityList]="cityList"></app-add-trip>
    </div>
    <h3 class="mr-20-30">Weeks</h3>
    <div *ngIf="!isObjectEmpty(selectedTrip)" class="row wrapped">
      <div *ngFor="let day of dayList" class="weatherCell">
          <app-details [day]="day"></app-details>
      </div>
    </div>
  </div>
  <div class="right-side">
    <app-current-weather  *ngIf="!isObjectEmpty(selectedTrip)" [selectedTrip]="selectedTrip"></app-current-weather>
  </div>
</div>
