.thin{
    font-weight: lighter;
}


.scrollable{
  /* scroll-behavior: smooth; */
  overflow-x: auto;
  overflow-y: hidden;

}

.wrapped{
  flex-wrap: wrap;
}

.card{
  min-width: 210px;
  max-width: 210px;
  height: 280px;
  border-width: 1px;
  border-color: rgba(197, 197, 197, 0.47);
  border-style: solid;
  margin: 20px 30px;
}

.card:hover{
  border-color: #abd0ec;
}


.weatherCell{
  width: 80px;
  height: 100px;
  margin: 20px 30px;
}

.add-but-name{
  font-size: x-large;
  width: fit-content;
  font-family: 'Roboto Condensed', sans-serif;
}

