.thin{
    font-weight: lighter;
}


.no-scroll{
  overflow-x: hidden;
  overflow-y: hidden;
}

.wrapped{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.no-wrapped{
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding: 30px;
}

.card{
  min-width: calc(100% / 4);
  max-width: calc(100% / 4);
  height: 255px;
}

.card:hover{
  border-color: #abd0ec;
}


.weatherCell{
  margin: 10px 0;
  width: calc(100% / 7);
}

.add-but-name{
  font-size: x-large;
  width: fit-content;
  font-family: 'Roboto Condensed', sans-serif;
}

