.form-content{
  background: #fff;
  width: 600px;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect for the popup content */
  justify-content: space-between;
}

.form-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for shadow effect */
  display: flex;
  justify-content: center;
  align-items: center;
}

.required{
  color: red;
}

.heading{
  border-bottom: 0.001rem solid rgba(182, 182, 182, 0.45);
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 30px 50px;
}

form{
  justify-content: space-around;
  padding-top: 20px;
}

.close{
  width: 20px;
  height: 20px;
}

.reverse{
  border-top: 0.001rem solid rgba(182, 182, 182, 0.45);
  justify-content: right;
  align-items: center;
  height: 30px;
  width: 100%;
  padding: 20px 0;
  margin-top: 60px ;
}

button{
  width: 75px;
  align-items: center;
  padding: 10px;
  font-size: medium;
}

label, select, input{
  margin: 5px 50px ;
  font-size: medium;
  border-radius: 5px;
  height: 40px;
}

label{
  margin: 25px 50px 5px;
  height: fit-content;
}
select::placeholder, input[type="date"]::placeholder{
  color: grey;
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  font-size: large;
}


.alert-dialog {
  display: none;
  justify-content: center;
  width: 100%;
  height: min-content;
  color: red;
  font-size: small;
  list-style-type: none;
  margin: 10px 0px  0px 30px;
}

.alert-dialog ul {
  margin: 0px auto 1px 0px;
}

.alert-dialog li {
  padding-left: 0px;
}

